# Sensitive files
*.pem
*.key
*.pub

# Terraform files
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
*.tfvars.local
secrets.tfvars
.terraformrc
terraform.rc

# Environment variables
.env
.env.local
.env.*.local
